body {
    color: white;
    overflow-y: hidden;
}

.container-fluid {
    padding-top: 20px;
    padding-bottom: 20px;
  }

img {
    z-index: 0;
    position: absolute;
    top: 0px;
    min-height: 100%
}

.title {
    color: white;
    padding-left: 50px;
    z-index: 1;
}

.col {
    z-index: 1;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 180px;
 }

 .bottom-text {
     width: 80%;
     height: 20%;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     align-items: center;
     padding-left: 85px;
 }

.instructions {
    text-align: center;
    width: 100%;
    margin-top: 20px;
}

.startbutton {
    text-align: center;
    width: 100%;
    margin-top: 20px;
}
