body {
  /*display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;*/
  /*font-family: "Spartan", sans-serif;*/
  /*background-color: #c8dad3;*/
  background-image: url("images/invaders.png");
  background-repeat: no-repeat;
  background-size: cover;
  /*background-position: right top*/
  color: white;
}

.container {
  margin-left: 0px;
  margin-right: 0px;
  width: 100%;
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.updated-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.radio-controls {
  margin-top: 150px;
  width: 50%;
  font-size: 30px;
}

.controls {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}


/**/