body {
    /* font-family: "Spartan", sans-serif; */
    /*background-color: #c8dad3;*/
    background-image: url("images/wallpaper-space-invaders-real-3d-1920x1080.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.title {
    color: var(--bs-white);
    margin-top: 70px;
    margin-left: 100px;
}

.btn {
    width: 25%;
    position: relative;
    top: 420px;
    margin-left: 60px;
 }

.text {
   text-align: center;
}