body {
  background-image: url("images/invaders.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

#sketch-holder #defaultCanvas0{
  border: 20px solid rgba(252, 254, 255, 0.637);
}

.container {
  margin-left: 0px;
  margin-right: 0px;
  width: 100%;
}

.game h1 {
  margin-top: 50px;
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.updated-info {
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
}

.radio-controls {
  margin-top: 200px;
  width: 50%;
  font-size: 30px;
}

.controls {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.card-body {
  color: black;
  font-size: 30px;
}

.card-body h4 {
  margin-top: 20px;
}

.card-body p {
  margin-top: 20px;
}

.continue-button {
  font-size: 25px;
}

.timer {
  margin-top: 150px;
}